TRELLO_API_KEY=
TRELLO_TOKEN=

# Optional: configure both values to enable Trello webhook registration and handling.
TRELLO_WEBHOOK_HOSTNAME=
TRELLO_WEBHOOK_SECRET=

NEWRELIC_API_KEY=

MYSQL_DATABASE=
MYSQL_HOST=
MYSQL_PORT=
MYSQL_USER=
MYSQL_PASSWORD=

SLACK_BOT_TOKEN=
